#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
// removed outputs, needed to toggle between bluetooth and usb

#define BASE 0
#define NAV  1
#define SYM  2
// removed 1 layers...

// I don't completely know what this does
&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
    keymap {
        compatible = "zmk,keymap";


//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃   A(GUI)  ┃   S(ALT)  ┃  D(CTRL)  ┃  F(SHFT)  ┃     G     ┃   ┃     H     ┃  J(SHFT)  ┃ K(CTRL)   ┃  L(ALT)   ┃   ;(GUI)  ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃    ESC    ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     '     ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃   SHIFT   ┃    TAB    ┃ ENTER(1)  ┃   ┃  SPC(2)   ┃   BSPC    ┃   DELETE  ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        base {
            bindings = <
         &kp Q  &kp W  &kp E   &kp R  &kp T    &kp Y                  &kp U    &kp I          &kp O    &kp P
         &mt LGUI A  &mt LALT S  &mt LCTRL D   &mt LSHIFT F  &kp G    &kp H    &mt RSHIFT J    &mt RCTRL K &mt RALT L &mt RGUI SEMI
&kp ESC  &kp Z  &kp X  &kp C   &kp V  &kp B    &kp N                  &kp M    &kp COMMA      &kp DOT  &kp FSLH  &kp APOS
                       &kp LSHIFT  &kp TAB    &lt NAV ENTER           &lt SYM SPACE  &kp BSPC  &kp DELETE
            >;
        };
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃   P UP    ┃   HOME    ┃     UP    ┃    END    ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃   P DOWN  ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     (     ┃   ┃     )     ┃     4     ┃     5     ┃     6     ┃     -     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃           ┃           ┃           ┃           ┃     [     ┃   ┃     ]     ┃     1     ┃     2     ┃     3     ┃     0     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        nav_num {
            bindings = <
       &kp PG_UP  &kp HOME    &kp UP     &kp END     &kp LBRC  &kp RBRC  &kp N7    &kp N8    &kp N9  &kp KP_PLUS
       &kp PG_DN  &kp LEFT    &kp DOWN   &kp RIGHT   &kp LPAR  &kp RPAR  &kp N4    &kp N5    &kp N6  &kp KP_MINUS
&trans &trans     &trans      &trans     &trans      &kp LBKT  &kp RBKT  &kp N1    &kp N2    &kp N3  &kp N0  &trans
                                         &trans      &trans    &trans    &trans   &trans  &trans
            >;
        };

//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     !     ┃     @     ┃     #     ┃     $     ┃     %     ┃   ┃     ˆ     ┃     &     ┃     *     ┃     _     ┃     =     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     `     ┃     ~     ┃    BRI+   ┃    VOL+   ┃  PLAY     ┃   ┃           ┃     \     ┃     |     ┃           ┃           ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃           ┃           ┃    BRI-   ┃    VOL-   ┃  PAUSE    ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        sim_layer {
            bindings = <
                &kp EXCL &kp AT &kp HASH      &kp DLLR    &kp PRCNT     &kp CARET   &kp AMPS    &kp KP_MULTIPLY   &kp UNDERSCORE &kp KP_EQUAL
                &trans   &trans &kp C_BRI_UP  &kp C_VOL_UP      &kp C_PLAY    &trans  &kp BACKSLASH   &kp PIPE &trans   &trans
    &trans      &trans   &trans &kp C_BRI_DN  &kp C_VOL_DN      &kp C_PAUSE   &trans  &trans          &trans   &trans   &trans   &trans
                                        &trans      &trans    &trans          &trans      &trans    &trans
            >;
        };
    };
};
